<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Autor</title>
  <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
  <header>
    <h1>Sobre el Autor</h1>
    <nav>
      <a href="/">Inicio</a>
      <a href="/autor">Autor</a>
      <a href="/estandaresWeb">Estándares Web</a>
      <a href="/contactame">Contáctame</a>
    </nav>
  </header>
  <div class="contenido-con-menu">
    <aside>
      <nav>
        <a href="/hobbies">Hobbies</a><br>
        <a href="/galeria">Galería</a><br>
        <a href="/ingSoftware">Ing. de Software</a>
      </nav>
    </aside>
    <main>
      <h2>Mi nombre es Andhy Chipana</h2>
      <p>Hola, soy Andhy, estudiante de Ingeniería de Sistemas en la Universidad Nacional de San Agustin. Me interesa mucho mi carrera y las ramas que trae, la inteligencia artificial y los sistemas distribuidos. Este sitio fue creado para mostrar parte de mi perfil técnico y personal.</p>
    </main>
  </div>
  <footer>
    <p>Laboratorio 2 - Proyecto Web</p>
  </footer>
  <script src="/js/script.js"></script>
</body>
</html>
