<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Hobbies</title>
  <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
  <header>
    <h1>Mis Hobbies</h1>
    <nav>
      <a href="/">Inicio</a>
      <a href="/autor">Autor</a>
      <a href="/estandaresWeb">Estándares Web</a>
      <a href="/contactame">Contáctame</a>
    </nav>
  </header>
  <div class="contenido-con-menu">
    <aside>
      <nav>
        <a href="/hobbies">Hobbies</a><br>
        <a href="/galeria">Galería</a><br>
        <a href="/ingSoftware">Ing. de Software</a>
      </nav>
    </aside>
   <main>
    <h2>Estos son algunos de mis hobbies</h2>
    <ul>
      <li><strong>Lectura:</strong> me gusta leer bastante, sobretodo temas que me gustan mucho como relacionados a mi carrera.</li>
      <li><strong>Programación:</strong> esto quizás es en lo que más practico y me agrada, desarrollo practicas, ejercicios, paginas web, entre otras cosas.</li>
      <li><strong>Videojuegos:</strong> ultimamente ya no juego mucho debido al tiempo, pero entre mis favoritos estan, el rocket league, valorant y gw2, siempre son buenos para el tiempo de ocio.</li>
      <li><strong>Enseñanza:</strong> actualmente trabajo en enseñar a nivel preuniversitario el curso de física, y realmente me gusta pues me ha servido a compartir mi conocimiento y desenvolverme.</li>
    </ul>
    <p>Mis hobbies me ayudan a crecer personal y profesionalmente. Lo importante es que nunca dejo de aprender</p>
  </main>
  <footer>
    <p>Programación Web 2</p>
  </footer>
  <script src="/js/script.js"></script>
</body>
</html>
