<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
  <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
  <header>
    <h1>Bienvenido a mi sitio personal</h1>
    <nav>
      <a href="/">Inicio</a>
      <a href="/autor">Autor</a>
      <a href="/estandaresWeb">Estándares Web</a>
      <a href="/contactame">Contáctame</a>
    </nav>
  </header>
  <main>
    <p>Bienvenido a mi pagina personal de presentación. Aqui encontraras algunas cosas sobre mi, y sobre la carrera que estoy estudiando, asi como pasatiempos, gustos, entre otras cosas.</p>
  </main>
  <footer>
    <p>Programación Web 2</p>
  </footer>
  <script src="/js/script.js"></script>
</body>
</html>
